<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Onepage Portfolio</title>

		<meta name="description" content="Free download theme onepage, clean and modern responsive for all"/>
		<meta name="keywords" content="responsive, html5, onepage, themes, template, clean layout, free web"/>
		<meta name="author" content="Thomsoon.com"/>
		
		<link rel="shortcut icon" href="img/favicon.png">
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/style-responsive.css" />				

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
		
</head>

<body>


<div class="preloader" id="preloader">
    <div class="item">
      <img src="img/loading.gif">
    </div>
</div>


<div class="container">


<!-- section start-page -->

  <section class="start-page parallax-background" id="home">
  
    <div class="opacity"></div> <!-- Opacity color -->
      <div class="content">
        <div class="text">
        
          <div class="logo"><img src="img/logo.png"></div>
        
          <h1>Michael Masterson</h1><hr/>
          <p>JavaScript, Python, Node, React, SQL, HTML5, CSS3</p>
          
          <a href="#about-us"><div class="read-more">Read more</div></a>
          
        </div>
        <div class="arrow-down"></div>
      </div>
  
  </section>

  <!-- section menu mobile -->
  
  <section class="menu-media">
  
    <div class="menu-content">
    
      <div class="logo"><img src="img/logo.png"></div>
      
      <div class="icon"><a href="#"><img src="img/icons/menu-media.png"/></a></div>
    
    </div>
   
  </section>
  
    <ul class="menu-click">
        <a href="#home"><li href="#home">HOME</li></a>
        <a href="#about-us"><li href="#about-us">ABOUT ME</li></a>
        <a href="#portfolio"><li href="#portfolio">PORTFOLIO</li></a>
        <a href="#contact"><li href="#contact">CONTACT</li></a>
        
    </ul>
   
   
  <!-- section menu -->
  
  <section class="menu">

    <div class="menu-content">
    
    <div class="logo">Michael Masterson</div>
    
      <ul id="menu">
        <li><a href="#home">HOME</a></li>
        <li><a href="#about-us">ABOUT ME</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  
  
  </section>


  <!-- section about us -->
  
  <section class="about-us" id="about-us">
  
  <div class="content">
  
    <h1>ABOUT ME</h1>
    <hr/>
    <p class="title">I'm a Full-Stack Developer in the San Francisco Bay Area, CA</p>
  
      <div class="column-one">
  
        <div class="circle-one"></div>
    
          <h2>SKILLS</h2>
          <p>JavaScript, EJS, Node.js, Express, React.js, SQL, PostgreSQL, Git, Heroku, jQuery, HTML5, CSS3, Python</p>
    
      </div>
  
      <div class="column-two">
  
        <div class="circle-two"></div>
    
          <h2>FUN FACT</h2>
          <p>I'm an Yoga Instructor turned Software Engineer with a passion for mind / body awarness yet also a complete nerdy / techy / gamer.</p>
    
      </div>
  
  
      <div class="column-three">
  
        <div class="circle-three"></div>
    
        <h2>SOFT SKILLS</h2>
        <p>With my background in the Customer Service Industry I have developed the skills to work well in team, manage my time more efficiently, and be calm under pressure.</p>
    
    </div>  
    
  </div>
  
  </section>
  
  <div class="clear"></div>  

  <!-- portoflio-->

  <section class="portfolio" id="portfolio">


    <div class="portfolio-margin">
    
      <h1>PORTFOLIO</h1>
      <hr/> 
    
    <!-- 1 item portoflio-->
    
        <ul class="grid">
        
          <li>
            <a href="http://www.buzzybee.io" target="_blank">
              <img src="img/portfolio/1.png" alt="Portfolio item" />
                <div class="text">
                  <p>Buzzybee.io</p>
                  <p class="description">Job search tool for developers.</p>   
              </div>
            </a>
          </li>
          
          <!-- 2 item portoflio-->
          
          <li>
            <a href="http://www.queersintech.com">
              <img src="img/portfolio/2.png" alt="Portfolio item" />
                <div class="text">
                  <p>Queers in Tech</p>
                  <p class="description">Platform for LGBTQA developers to connect with mentors and mentees in which to increase visibility, diversity, and inclusion in tech.</p>
              </div>
            </a>
          </li>      

          <!-- 3 item portoflio-->
          
          <li>
            <a href="#">
              <img src="img/portfolio/3.png" alt="Portfolio item" />
                <div class="text">
                  <p>Roam</p> 
                  <p class="description">Full-stack application that allows users to review various cities.</p>           
              </div>
            </a>
          </li>      



          <!-- 4 item portfolio
          
          <li>
            <a href="#">
              <img src="img/portfolio/4.png" alt="Portfolio item" />
                <div class="no-text">
                  <p></p> 
                  <p class="description"></p>         
              </div>
            </a>
          </li>    

          5 item portoflio
          
          <li>
            <a href="#">
              <img src="img/portfolio/5.png" alt="Portfolio item" />
                <div class="no-text">
                  <p></p> 
                  <p class="description"></p>            
              </div>
            </a>
          </li>    
          

          6 item portoflio
          
          <li>
            <a href="#">
              <img src="img/portfolio/6.png" alt="Portfolio item" />
                <div class="text">
                  <p>PORTFOLIO 6</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>         
           
         7 item portoflio
          
          <li>
            <a href="#">
              <img src="img/portfolio/7.png" alt="Portfolio item" />
                <div class="text">
                  <p>PORTFOLIO 7</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>    
          
          8 item portoflio
          
          <li>
            <a href="#">
              <img src="img/portfolio/8.png" alt="Portfolio item" />
                <div class="text">
                  <p>PORTFOLIO 8</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>          
          
          9 item portoflio
          
          <li>
            <a href="#">
              <img src="img/portfolio/9.png" alt="Portfolio item" />
                <div class="text">
                  <p>PORTFOLIO 9</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>          

          10 item portoflio
          
          <li>
            <a href="#">
              <img src="img/portfolio/10.png" alt="Portfolio item" />
                <div class="text">
                  <p>PORTFOLIO 11</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>         

          11 item portoflio
          
          <li>
            <a href="#">
              <img src="img/portfolio/11.png" alt="Portfolio item" />
                <div class="text">
                  <p>PORTFOLIO 11</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>          
 
-->
          
        </ul>  
   
   <a href="#"><div class="read-more">Github</div></a>
   
   </div>   
         
   </section>

  
   <div class="clear"></div>  

    <!-- Contact-->

    <section class="contact" id="contact">
        <h1>Contact</h1>
        <hr/>       
      
        <section class="about-us" id="about-us">
  
          <div class="content">
          
              <div class="column-one">
          
                <a href="https://github.com/yogimasterson"><div class="circle-one-social"></div></a>
            
              </div>
          
              <div class="column-two">
          
                <a href="https://www.linkedin.com/in/mmasterson-dev/"><div class="circle-two-social"></div></a>
            
              </div>
          
          
              <div class="column-three">
          
                <a href="https://twitter.com/yourcodingyogi?lang=en"><div class="circle-three-social"></div></a>
            
            </div>  
            
          </div>
  
        </section>
  
      <div class="clear"></div>  
      
    </section>


    <section class="footer">
      
        <div class="logo"><img src="img/logo-footer.png"></div>
        <div class="menu-footer">
        
          <a href="#home">Home</a>
          <a href="#">Privacy policy</a>
          <a href="#">RSS</a>
          <a href="#">Facebook</a>
          <a href="#">Dribble</a>
          <a href="#">Twitter</a>
          <a href="#">Contact</a>
        
        </div>
        
        <div class="copyright">© 2014. All Rights Reserved Thomsoon.com</div>        
    
    
    </section>    
    

</div>



	<!-- Scripts -->
	
	<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="js/jquery-ui-1.10.4.min.js" type="text/javascript"></script> <!-- jQuery -->
	<script src="js/jquery.nicescroll.js"></script> <!-- jQuery NiceScroll -->
	<script src="js/jquery.sticky.js"></script> <!-- jQuery Stick Menu -->
	<script src="js/masonry.pkgd.min.js"></script> <!-- All script -->
	<script src="js/imagesloaded.pkgd.min.js"></script> <!-- All script -->	

   <script>
     $(function(){
   
       var $container = $('.grid');
     
       $container.imagesLoaded( function(){
         $container.masonry({
           itemSelector : 'li'
         });
       });
     
     });
   </script>
	<script src="js/jquery.parallax.js"></script> <!-- jQuery Parallax -->	
	<script src="js/script.js"></script> <!-- All script -->	


</body>

</html>